{
    extends: 'airbnb',
    env: {
        node: true
    },
    rules: {
        indent: ['error', 4],
        'comma-dangle': ['error', 'never'],
        'keyword-spacing': [
            'error',
            {
                overrides: {
                    if: {
                        after: false
                    },
                    for: {
                        after: false
                    },
                    while: {
                        after: false
                    },
                    catch: {
                        after: false
                    }
                }
            }
        ],
        'no-param-reassign': 0
    }
}
