{
  extends: 'airbnb',
  env: {
	node: true
  },
  rules: {
	'no-tabs': 0,
	indent: [
	  'error',
	  'tab'
	],
	'comma-dangle': [
	  'error',
	  'never'
	],
	'keyword-spacing': [
	  error,
	  {
		overrides: {
		  if: {
			after: false
		  },
		  for: {
			after: false
		  },
		  while: {
			after: false
		  }
		}
	  }
	],
	'no-param-reassign': 0
  }
}